ATLANTIS_GH_USER=<your-gh-user>
ATLANTIS_GH_TOKEN=<your-gh-access-token>
ATLANTIS_GH_WEBHOOK_SECRET=<your-gh-webhook-secret>
ATLANTIS_REPO_ALLOWLIST='github.com/<your-repo>'
ATLANTIS_REPO_CONFIG=repos.yaml
ATLANTIS_ENABLE_POLICY_CHECKS=false
ATLANTIS_LOG_LEVEL=debug
INFRACOST_API_KEY=<your-infracost-api-key>